@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cunia";
  src: url("/fonts/Cunia.otf");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #312e81;
  font-family: "Inter", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  position: relative;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
}

button {
  transition: all 0.2s ease-in-out;
}

*::selection {
  background: #fbbf24;
  color: #27272a;
}

.title-font {
  font-family: "Cunia", sans-serif;
}

.logo-animated {
  transition-origin: center;
  animation: logo-animation 1.6s ease-in-out infinite;
}

.logo-debris-animation {
  animation: logoDebris 1.1s linear infinite;
  animation-fill-mode: forwards;
}

.logo-debris-animation-reverse {
  animation: logoDebrisReverse 1.1s linear infinite;
  animation-fill-mode: forwards;
}

.twitter-loading-animation {
  animation: hashtag 0.5s linear infinite;
  /* background: linear-gradient(
    90deg,
    #31278100 0%,
    #31278130 25%,
    #312781 40%,
    #818cf8 50%,
    #312781 60%,
    #31278130 75%,
    #31278100 100%
  );
  background-size: 200% auto; */
}

@keyframes hashtag {
  from {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.9);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes logoDebris {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(-2.2rem) rotate(176deg);
    opacity: 0;
  }
}

@keyframes logoDebrisReverse {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(-2.2rem) rotate(-176deg);
    opacity: 0;
  }
}

@keyframes logo-animation {
  0% {
    transform: translateX(0) scaleX(1);
  }

  33.333% {
    transform: translateX(4%) scaleX(0.93);
  }
  66.666% {
    transform: translateX(-4%) scaleX(0.93);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}

@keyframes jump {
  from {
    transform-origin: bottom center;
    transform: translateY(0) scaleY(1);
  }

  15% {
    transform: translateY(0) scaleY(0.8);
  }

  20% {
    transform: translateY(0) scaleY(1);
  }

  25% {
    transform: translateY(-25px) scaleY(1);
  }

  35% {
    transform: translateY(0) scaleY(1);
  }

  to {
    transform-origin: bottom center;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes twitterLoadingRight {
  0% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
  33.333% {
    transform: translate(50%) scale(0.8);
  }

  50% {
    transform: translate(100%) scale(1);
    opacity: 0.4;
  }

  66.666% {
    transform: translate(50%) scale(-1.2, 1.2);
  }
  100% {
    transform: translate(0) scale(-1, 1);
    opacity: 1;
  }
}

@keyframes twitterLoadingLeft {
  0% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
  33.333% {
    transform: translate(6rem) scale(0.9);
  }

  50% {
    transform: translate(12rem) scale(-0.8, 0.8);
    opacity: 0.4;
  }

  66.666% {
    transform: translate(6rem) scale(-0.9, 1);
  }
  100% {
    transform: translate(0) scale(-1, 1);
    opacity: 1;
  }
}

.tornado-animation {
  /* animation: dash 3s linear infinite; */
  stroke-dashoffset: 4;
}

@keyframes dash {
  to {
    stroke-dashoffset: 52;
  }
}

.loading {
  animation: turn 1s linear infinite;
}
.loading-ring {
  animation: elastic 0.8s linear infinite alternate;
  display: block;
}
@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes elastic {
  0% {
    stroke-dashoffset: -221;
  }
  100% {
    stroke-dashoffset: -316.05;
  }
}

.paper-texture {
  filter: url("#paper-texture");
}
